*{
    margin: 0;
}

title{
    color : red;
}

body{
    min-height: 100vh;
}

.nabla-lorem {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}

.big_font {
    font-size: 20em;
}

.smol_font {
    font-size: 2px;
}

.cyan {
    color: rgb(43,255,255);
}

.vertPomme {
    color: rgb(106, 248, 106);
}

.voiletEISPRISTIC {
    color: rgb(125, 46, 135);
}

.fushia {
    color: rgb(255, 0, 255);
}
.fushia_bg {
    background-color: rgb(255, 0, 255);
}

.cyan_bg {
    background-color: cyan;
}

.jaune {
    color: rgb(255, 243, 0);
}

.rouge {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 60px rgba(255, 0, 0);
}

.bleu {
    color: rgb(0, 0, 255);
    text-shadow: 0 0 60px rgba(0, 0, 255);
}

.vert {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 60px rgba(0, 255, 0);
}

.orange {
    color:rgb(255, 128, 0)
}

.rosePetasse {
    color:rgb(253, 24, 150)
}

.violet {
    color: rgb(200, 0, 255);
}

.image-clignote  {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}
 
@keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
}

#horrible_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.horrible_input{
    text-align: center;
    margin: auto;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 5px;
}

footer small, header p{
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 5px;
    margin-top: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.bubble{
    border: solid 2px rgba(0, 150, 255, 0.7);
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgba(109, 152, 218, 0.7);
    transition: all 0.5s ease;
}

.bigBubble{
    transform:scale(1.2);
}

